---
import Form from "../ui/Form.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
---

<Section id="contact">
  <div class="mb-[140px] relative">
    <SectionTitle
      sectionTitle="Contact Us"
      description="Have a project in mind or want to explore how we can work together? Drop a message."
    />
    <Form />
  </div>
</Section>
