---
import Form from "../ui/Form.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
---

<Section id="contact">
  <div class="mb-[140px] relative">
    <SectionTitle
      sectionTitle="Contact Us"
      description="Facing a strategic challenge you can't quite name? Not sure whether what you have is actually a strategy? Let's find out."
    />
    <Form />
  </div>
</Section>
