---
import Accordion from "../ui/Accordion.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";

const description = "How we move from ambiguity to a strategy worth committing to.";
---

<Section id="process">
  <div class="mt-[140px]">
    <SectionTitle
      sectionTitle="Our Working Process"
      description={description}
    />
    <Accordion />
  </div>
</Section>