---
const { id } = Astro.props;
---

<section id={id} class="px-5 flex justify-center overflow-hidden lg:block" data-reveal={id !== 'home' ? 'true' : undefined}>
  <div class="w-full max-w-[1280px] mx-auto">
    <slot />
  </div>
</section>
