---
const { isUnderline } = Astro.props;
---

{
  isUnderline ? (
    <div class="rounded-[45px] border border-[#2A2A2A] shadow-[0px_5px_0px_#2A2A2A]">
      <slot />
    </div>
  ) : (
    <div class="rounded-[45px]">
      <slot />
    </div>
  )
}
